.btn-add-new-post {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.no-posts-here {
  text-align: center;
}

.post {}

.post .post__meta {
  font-weight: bold;
  text-align: right;
  padding-bottom: 19px;
}

.post .post__meta a:hover {
  text-decoration: none;
}

.account {}

.account .account__header {
  margin-bottom: 20px;
  text-align: center;
}

.account .account__username {
  font-weight: bold;
}

.pull-right{
  float: right;
}

.st-sort-ascent:before{
    content: '\25B2';
}

.st-sort-descent:before{
    content: '\25BC';
}

div[contentEditable] {
  cursor: pointer;
  background-color: white;
    padding: .2em;
}
div[contentEditable]:focus {
  cursor: pointer;
  background-color: #D0D0D0;
    border: 1px solid red;
  padding: .2em;
}

.main-border{
    outline: 1px solid rgb(82, 157, 184);
}

.inputdemoIcons .inputIconDemo {
  min-height: 48px; }
.inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.email {
  color: green; }
.inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.name {
  color: dodgerblue; }
.inputdemoIcons md-input-container.md-input-invalid > md-icon.email, .inputdemoIcons md-input-container.md-input-invalid > md-icon.name {
  color: red; }

.layout-content,
.doc-content {
  max-width: 864px;
  margin: 16px;
  box-sizing: border-box;
}

.upcoming{
  background-color: rgba(244, 67, 54, 0.32) !important;
}

.table tbody > tr > td{
    vertical-align: middle;
}

.checkbox input[type=checkbox]{
  opacity:1;
}