<table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
	<thead>
	<tr>
		<th st-sort="id">Sr. No</th>
		<th>Date</th>
		<th>Party Name</th>
		<th>Party Mould No.</th>
		<th>Mould Detail</th>
		<th st-sort="cavity">Cavity</th>
		<th>Mould Type</th>
		<th>Part Name</th>
		<th>Dwg No.</th>
		<th>Challan No</th>
		<th>Bill No</th>
		<th>Dispatch Date</th>
	</tr>
	<tr>
		<th></th>
		<th></th>
		<th>
			<input st-search="client" placeholder="search client" class="input-sm form-control" type="search"/>
		</th>
		<th>
			<input st-search="mould" placeholder="search mould" class="input-sm form-control" type="search"/>
		</th>
		<th></th>
		<th></th>
		<th></th>
		<th>
			<input st-search="part" placeholder="search by part name" class="input-sm form-control" type="search"/>
		</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="row in displayedCollection">
		<td>{{row.id}}</td>
		<td>{{row.job_date | date}}</td>
		<td><div contentEditable="true" ng-model="row.client">{{row.client}}</div></td>
		<td>{{row.mould}}</td>
		<td>{{row.mould_detail}}</td>
		<td>{{row.cavity}}</td>
		<td>{{row.mould_type}}</td>
		<td>{{row.part}}</td>
		<td>{{row.drawing_no}}</td>
		<td>{{row.challan_no}}</td>
		<td>{{row.bill_no}}</td>
		<td>{{row.dispatch_date | date}}</td>
		<td>
			<button type="button" ng-click="removeItem(row)" class="btn btn-sm btn-danger">
				<i class="glyphicon glyphicon-remove-circle">
				</i>
			</button>
		</td>
	</tr>
	<tr ng-show="isAddingRow">
		<td>{{newRow.id}}</td>
		<td><input placeholder="job date" class="input-sm form-control" ng-model="newRow.job_date" type="input"/></td>
		<!--<td>
			  <input type="text" class="input-sm form-control" uib-datepicker-popup="{{format}}"  ng-model="newRow.job_date" is-open="status.opened" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>

		</td>-->
		<td><input placeholder="Client" class="input-sm form-control" ng-model="newRow.client" type="input"/></td>
		<td><input placeholder="Mould" class="input-sm form-control" ng-model="newRow.mould" type="input"/></td>
		<td><input placeholder="Mould detail" class="input-sm form-control" ng-model="newRow.mould_detail" type="input"/></td>
		<td><input placeholder="Cavity" class="input-sm form-control" ng-model="newRow.cavity" type="input"/></td>
		<td><input placeholder="Mould type" class="input-sm form-control" ng-model="newRow.mould_type" type="input"/></td>
		<td><input placeholder="Part" class="input-sm form-control" ng-model="newRow.part" type="input"/></td>
		<td><input placeholder="Drawing no" class="input-sm form-control" ng-model="newRow.drawing_no" type="input"/></td>
		<td><input placeholder="Challan no" class="input-sm form-control" ng-model="newRow.challan_no" type="input"/></td>
		<td><input placeholder="Bill no" class="input-sm form-control" ng-model="newRow.bill_no" type="input"/></td>
		<td><input placeholder="Dispatch date" class="input-sm form-control" ng-model="newRow.dispatch_date" type="input"/></td>
		<td>
			<button type="button" ng-click="onAddItemDone()" class="btn btn-sm btn-success">
				<i class="glyphicon glyphicon-plus">
				</i>
			</button>
		</td>
	</tr>
	</tbody>
</table>

<button type="button" ng-click="addItem()" class="btn btn-sm btn-success pull-right">
		<i class="glyphicon glyphicon-plus">
		</i> Add New item
</button>