<table st-table="rowCollection" class="table table-striped">
	<thead>
	<tr>
		<th>Sr. No</th>
		<th>Date</th>
		<th>Party Name</th>
		<th>Party Mould No.</th>
		<th>Mould Detail</th>
		<th>Cavity</th>
		<th>Mould Type</th>
		<th>Part Name</th>
		<th>Dwg No.</th>
		<th>Challan No</th>
		<th>Bill No</th>
		<th>Dispatch Date</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="row in rowCollection">
		<td>{{row.id}}</td>
		<td>{{row.job_date}}</td>
		<td>{{row.client}}</td>
		<td>{{row.mould}}</td>
		<td>{{row.mould_detail}}</td>
		<td>{{row.cavity}}</td>
		<td>{{row.mould_type}}</td>
		<td>{{row.part}}</td>
		<td>{{row.drawing_no}}</td>
		<td>{{row.challan_no}}</td>
		<td>{{row.bill_no}}</td>
		<td>{{row.dispatch_date}}</td>
	</tr>
	</tbody>
</table>