<!DOCTYPE html>
<html ng-app="projectx">
<head>
  <title>Paavan Industries</title>

  <base href="/" />

  {% include 'stylesheets.html' %}
</head>

<body>
<!-- <toaster-container toaster-options="{'time-out': 3000, 'close-button':true}"></toaster-container> -->
<toaster-container toaster-options="{'close-button':true}"></toaster-container>
  {% include 'navbar.html' %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12" ui-view flex layout="column"></div>
    </div>
  </div>

  {% include 'javascripts.html' %}
</body>
</html>