<div class="doc-content main-border">
<div layout="column" ng-cloak>
  <md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
      <h2>
        <span>New-Rework - Add Details</span>
      </h2>
      <span flex></span>
     <!--  <md-button ng-click="addItem()" class="md-raised md-primary">  <i class="glyphicon glyphicon-plus">
      </i> Add New item
      </md-button> -->
    </div>
  </md-toolbar>
 <md-content layout-padding>
 	<form name="mouldForm">
      <md-datepicker ng-model="newRow.job_date" md-placeholder="Job date"></md-datepicker>
      <br/><br/>
      <md-autocomplete
          md-selected-item="selectedClientItem"
          md-search-text-change="clientSearchTextChange(clientSearchText)"
          md-search-text="clientSearchText"
          md-selected-item-change="selectedClientItemChange(item)"
          md-items="item in clientQuerySearch(clientSearchText)"
          md-item-text="item.name"
          md-min-length="0"
          placeholder="Select Client">
        <md-item-template>
          <span md-highlight-text="clientSearchText" md-highlight-flags="^i">{{item.name}}</span>
        </md-item-template>
        <md-not-found>
          No states matching "{{clientSearchText}}" were found.
          <a ng-click="addNewClient(clientSearchText)">We'll create a new one!</a>
        </md-not-found>
      </md-autocomplete>
      <br/>
   	  <!--  <md-input-container>
        <label>Party Name</label> -->
      <!--   <md-icon md-svg-src="../../img/icons/ic_person_24px.svg" class="name"></md-icon> -->
       <!--  <md-select ng-model="selectedClientId">
          <md-option ng-repeat="client in clients" value="{{client.id}}">
            {{client.name}}
          </md-option>
        </md-select> -->
      <!--  </md-input-container>   -->
    
      <md-autocomplete
          md-selected-item="selectedMouldNo"
          md-search-text="mouldSearchText"
          md-items="item in mouldQuerySearch(mouldSearchText)"
          md-item-text="item.name"
          md-min-length="0"
          placeholder="Party Mould No.">
        <md-item-template>
          <span md-highlight-text="mouldSearchText" md-highlight-flags="^i">{{item.name}}</span>
        </md-item-template>
        <!-- <md-not-found>
          No states matching "{{mouldSearchText}}" were found.
          <a ng-click="addNewClient(mouldSearchText)">We'll create a new one!</a>
        </md-not-found> -->
      </md-autocomplete>
      <br/>

      <md-autocomplete
          md-selected-item="selectedMouldDetail"
          md-search-text="mouldDetailSearchText"
          md-items="item in mouldDetailQuerySearch(mouldDetailSearchText)"
          md-item-text="item.detail"
          md-min-length="0"
          placeholder="Mould Detail">
        <md-item-template>
          <span md-highlight-text="mouldDetailSearchText" md-highlight-flags="^i">{{item.detail}}</span>
        </md-item-template>
        <!-- <md-not-found>
          No states matching "{{mouldSearchText}}" were found.
          <a ng-click="addNewClient(mouldSearchText)">We'll create a new one!</a>
        </md-not-found> -->
      </md-autocomplete>
      <br/>

      <md-input-container flex>
          <label>Cavity</label>
          <input name="cavity" ng-model="newRow.cavity" placeholder="12345"
                 required  md-maxlength="2">
         <!--  <div ng-messages="userForm.postalCode.$error" role="alert" multiple>
            <div ng-message="required" class="my-message">You must supply a postal code.</div>
            <div ng-message="pattern" class="my-message">That doesn't look like a valid postal
              code.
            </div>
            <div ng-message="md-maxlength" class="my-message">
              Don't use the long version silly...we don't need to be that specific...
            </div>
          </div> -->
      </md-input-container>

      <md-autocomplete
          md-selected-item="selectedMouldType"
          md-search-text="mouldTypeSearchText"
          md-items="item in mouldTypeQuerySearch(mouldTypeSearchText)"
          md-item-text="item.detail"
          md-min-length="0"
          placeholder="Mould Type">
        <md-item-template>
          <span md-highlight-text="mouldTypeSearchText" md-highlight-flags="^i">{{item.detail}}</span>
        </md-item-template>
        <!-- <md-not-found>
          No states matching "{{mouldSearchText}}" were found.
          <a ng-click="addNewClient(mouldSearchText)">We'll create a new one!</a>
        </md-not-found> -->
      </md-autocomplete>
      <br/>

      <md-autocomplete
          md-selected-item="selectedPart"
          md-search-text="partSearchText"
          md-items="item in partQuerySearch(partSearchText)"
          md-item-text="item.name"
          md-min-length="0"
          placeholder="Part Name">
        <md-item-template>
          <span md-highlight-text="partSearchText" md-highlight-flags="^i">{{item.name}}</span>
        </md-item-template>
        <!-- <md-not-found>
          No states matching "{{mouldSearchText}}" were found.
          <a ng-click="addNewClient(mouldSearchText)">We'll create a new one!</a>
        </md-not-found> -->
      </md-autocomplete>
      <br/>
      
      <md-input-container flex>
          <label>Drawing No.</label>
          <input ng-model="newRow.drawing_no">
      </md-input-container>
  
      <md-input-container flex>
          <label>Challan No.</label>
          <input name="challanNo" ng-model="newRow.challan_no" placeholder="12345"
                 required md-maxlength="5">
         <!--  <div ng-messages="userForm.postalCode.$error" role="alert" multiple>
            <div ng-message="required" class="my-message">You must supply a postal code.</div>
            <div ng-message="pattern" class="my-message">That doesn't look like a valid postal
              code.
            </div>
            <div ng-message="md-maxlength" class="my-message">
              Don't use the long version silly...we don't need to be that specific...
            </div>
          </div> -->
      </md-input-container>

      <md-input-container flex>
          <label>Bill No.</label>
          <input name="billNo" ng-model="newRow.bill_no" placeholder="12345"
                 required md-maxlength="5">
         <!--  <div ng-messages="userForm.postalCode.$error" role="alert" multiple>
            <div ng-message="required" class="my-message">You must supply a postal code.</div>
            <div ng-message="pattern" class="my-message">That doesn't look like a valid postal
              code.
            </div>
            <div ng-message="md-maxlength" class="my-message">
              Don't use the long version silly...we don't need to be that specific...
            </div>
          </div> -->
      </md-input-container>

      <md-datepicker ng-model="newRow.dispatch_date" md-placeholder="Dispatch date"></md-datepicker>
      <div class="pull-right">
        <md-button class="md-raised md-primary" ng-click="onAddItemDone()">Save</md-button>
      </div>
    </form>
  </md-content>
</div>

</div>